.flex-card {
  width: 200px;
  height: 200px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;   
  overflow: hidden;     

  border-radius: 14px;
  cursor: pointer;
}

 
  .bg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0
  }
  
  .pot {
    width: 120px;
    position: absolute;      /* ← ВАЖНО */
    bottom: 20px;            /* ← МЕНЯЙ ЭТО ЧИСЛО */
    left: 50%;
    transform: translateX(-50%) scale(0.8);
  
    opacity: 0;
    transition: opacity 0.8s, transform 0.8s;
    z-index: 2;
  }
  
  
  .lid {
    width: 86px;
    position: absolute;
  
    top: 78px;
    left: 54px;
  
    opacity: 0;
  
    transform: rotate(-35deg) scale(0.8);
    transform-origin: center center;   /* ← ВАЖНО */
  
    z-index: 3;
    transition: opacity 0.8s, transform 0.8s;
  }
  
  
  
  .title {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    z-index: 4
  }
  
  .flex-card:hover .pot {
    opacity: 1;
    animation: potPulse 1.2s ease-in-out forwards;
  }
  
  .flex-card:hover .lid {
    opacity: 1;
    animation: lidPulse 1.2s ease-in-out forwards;
  }
  

  @keyframes potPulse {
    0%   { transform: translateX(-50%) scale(0.8); }
    50%  { transform: translateX(-50%) scale(1.1); }
    100% { transform: translateX(-50%) scale(1); }
  }
  
  @keyframes lidPulse {
    0% {
      transform: rotate(-35deg) scale(0.8);
    }
    50% {
      transform: rotate(-35deg) scale(1.1);
    }
    100% {
      transform: rotate(-35deg) scale(1);
    }
  }
  
  
  
  .flex-card:active .lid {
    animation: none !important; /* ⬅ ОЧЕНЬ ВАЖНО */
    transform:
    rotate(1deg)      /* открывается */
    translateX(5px)   /* вправо */
    translateY(-20px)    /* чуть вверх */
    scale(1);
  }
  
  
  
  
  


  
  @keyframes shake {
    0%   { transform: translateX(0); }
    25%  { transform: translateX(-2px); }
    50%  { transform: translateX(2px); }
    75%  { transform: translateX(-2px); }
    100% { transform: translateX(0); }
  }
  
  .card-inner {
    width: 100%;
    height: 100%;
    position: relative;
  }


  
  
  
  