.flex-card {
  width: 200px;
  height: 200px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;   
  overflow: hidden;     

  border-radius: 14px;
  cursor: pointer;
}

 
  .bg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0
  }
  
  .pot {
    width: 120px;
    position: absolute;     
    bottom: 20px;            
    left: 50%;
    transform: translateX(-50%) scale(0.8);
  
    opacity: 0;
    transition: opacity 0.8s, transform 0.8s;
    z-index: 2;
  }
  
  
  .lid {
    width: 90px;
    position: absolute;
  
    top: 52px;
    left: 45px;
  
    opacity: 0;
  
    transform: rotate(-35deg);          
    transform-origin: right center;     /* петля крышки */
  
    transition: opacity 0.6s ease;     /*  ТОЛЬКО opacity */
  
    z-index: 3;
  }
  
  
  
  
  .title {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    z-index: 4
  }
  
  .flex-card:hover .pot {
    opacity: 1;
    animation: potPulse 1.2s ease-in-out forwards;
  }
  


   @keyframes potPulse {
    0%   { transform: translateX(-50%) scale(0.8); }
    50%  { transform: translateX(-50%) scale(1.1); }
    100% { transform: translateX(-50%) scale(1); }
  }
  

  
  
  


  .flex-card:active .lid {
    opacity: 1;   
    animation: lidFlap 0.9s infinite ease-in-out;
    
  }
  
  
  

  @keyframes lidFlap {
    0% {
      transform: rotate(-35deg) translateX(0);
    }
    50% {
      transform: rotate(5deg) translateX(20px);
    }
    100% {
      transform: rotate(-35deg) translateX(0);
    }
  }
  
  
  

  
  .card-inner {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .flex-card:active {
    animation: shakeX 0.4s infinite;
  }

  @keyframes shakeX {
    0%   { transform: translateX(0); }
    25%  { transform: translateX(-2px); }
    50%  { transform: translateX(2px); }
    75%  { transform: translateX(-2px); }
    100% { transform: translateX(0); }
  }
  

  
  
  
  